<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <extensions>
        <behaviorExtensions>
          <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.3.7.0, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
        </behaviorExtensions>
      </extensions>
      <behaviors>      
 
      <endpointBehaviors>
        <behavior name="protoEndpointBehavior">
          <protobuf/>
        </behavior>
      </endpointBehaviors>
      </behaviors>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBartService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IBartService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5555/BartService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IBartService" contract="BartService.IBartService"
                name="BasicHttpBinding_IBartService" />
            <endpoint address="net.tcp://localhost:5556/BartService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IBartService" contract="BartService.IBartService"
                name="NetTcpBinding_IBartService">
                <identity>
                    <userPrincipalName value="DESKTOP-04UD1B6\risha" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>