<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
       <extensions>
          <behaviorExtensions>
             <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.3.7.0, Culture=neutral, PublicKeyToken=257b51d87d2e4d67" />
          </behaviorExtensions>
       </extensions>
       <bindings>
          <basicHttpBinding>
             <binding name="basicHttpBindingConfig" maxReceivedMessageSize="2147483647" />
          </basicHttpBinding>
          <netTcpBinding>
             <binding name="basicTcpBindingConfig" maxReceivedMessageSize="2147483647" />
          </netTcpBinding>
       </bindings>
       <!--<extensions>
  <behaviorExtensions>
    <add name="protobuf" type="ProtoBuf.ServiceModel.ProtoBehaviorExtension, protobuf-net, Version=2.3.7.0, Culture=neutral, PublicKeyToken=257b51d87d2e4d67"/>
  </behaviorExtensions>
</extensions>-->
        <behaviors>
            <endpointBehaviors>
                <behavior name="protoEndpointBehavior">
                    <protobuf />
                </behavior>
            </endpointBehaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ServiceLibrary.BartService">
                <clear />
                <endpoint behaviorConfiguration="protoEndpointBehavior" binding="basicHttpBinding"
                    bindingConfiguration="basicHttpBindingConfig" contract="ServiceLibrary.IBartService" />
                <endpoint behaviorConfiguration="protoEndpointBehavior" binding="netTcpBinding"
                    bindingConfiguration="basicTcpBindingConfig" contract="ServiceLibrary.IBartService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:5555/BartService" />
                        <add baseAddress="net.tcp://localhost:5556/BartService" />
                    </baseAddresses>
                </host>
            </service>
            <service name="ServiceLibrary.NotificationService">
                <endpoint binding="netTcpBinding" bindingConfiguration="" contract="ServiceLibrary.INotificationService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.tcp://localhost:5556/NotificationService" />
                        <add baseAddress="http://localhost:5555/NotificationService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
   
    </system.serviceModel>
</configuration>